@import "../../paletes/std_paletes";

$very-big-font-size-mm: 3em;
$big-font-size-mm: 2em;
$sub-big-font-size-mm: 1.5em;
$medium-font-size-mm: 1em;
$std-font-size-mm: $medium-font-size-mm;
$small-font-size-mm: 0.5em;

$logo-size-std-width-mm: 8vw;
$logo-size-std-height-mm: 7vw;

$font-family-mm: "Segoi UI", monospace;
$header-picture-path-mm: "text";

