@import "std_config";

@import url(article_item_components/article_content_style.css);
@import url(article_item_components/article_info_style.css);
@import url(article_item_components/close_aside_panel_check_style.css);
@import url(article_item_components/article_paragraph.css);

article {
  background-color: $std-light-mm;
  flex-basis: 70%;
  flex-grow: 70;
  border: 5px solid $std-blue-mm;
  border-top-color: $std-red-mm;
  border-bottom-color: $std-red-mm;

}
