@import url(article_item_components/article_content_style.css);
@import url(article_item_components/article_info_style.css);
@import url(article_item_components/close_aside_panel_check_style.css);
@import url(article_item_components/article_paragraph.css);
article {
  background-color: #FCF7F8;
  flex-basis: 70%;
  flex-grow: 70;
  border: 5px solid #4E8098;
  border-top-color: #A31621;
  border-bottom-color: #A31621;
}

/*# sourceMappingURL=article_style.css.map */
