@import "std_config";

aside {

  flex-grow: 30;
  flex-basis: 30%;
  background-color:$std-dark-light-mm;
  color:$std-black-mm;
  padding: 1em;

  border: 5px solid $std-blue-mm;
  border-top-color: $std-red-mm;
  border-bottom-color: $std-red-mm;

  scroll-behavior: smooth;

  ul {

    list-style: none;
    border-width:0.5em;
    border-color: $std-blue-mm;
    border-style: solid;


    li {
      input[type='checkbox'] {
        visibility: collapse;
      }
    }

    li:hover {
      background-color: $std-blue-mm;
      color:$std-black-mm;
    }


    li{

      ul{
        border:none;
        background-color: $std-blue-mm;
        visibility: collapse;
        height:0;

        li {

          ul{

            border:none;
            background-color: $std-red-mm;
            visibility: collapse;
            height:0;
          }

        }

      }
    }



    li {
      ul{
        li{
          text-indent: 1em;
          ul {
            li {
              text-indent:2em;
            }
          }
        }
      }
    }
  }



  ul:first-child>li::before {
    content:"_";
    color:$std-red-mm;
    background-color: $std-red-mm;
  }


  input[type="checkbox"]:checked~ul{
    visibility: visible;
    height:auto;
    border-width:0.5em;
    border-color: $std-red-mm;
    border-style: solid;


  }


  input[type="checkbox"]:checked {
    ul {
      li{
        input[type="checkbox"]:checked~ul{
          visibility: visible;
          height: auto;
          border-width:0.5em;
          border-color: $std-blue-mm;
          border-style: solid;

        }
      }
    }
  }



  ul {
    li {

      ul {

        li:hover{
          background-color: $std-red-mm;

          ul{

            li:hover {
              background-color: $std-blue-mm;
            }
          }
        }
      }

    }

  }


}
