aside {
  flex-grow: 30;
  flex-basis: 30%;
  background-color: #CED3DC;
  color: #000000;
  padding: 1em;
  border: 5px solid #4E8098;
  border-top-color: #A31621;
  border-bottom-color: #A31621;
  scroll-behavior: smooth;
}
aside ul {
  list-style: none;
  border-width: 0.5em;
  border-color: #4E8098;
  border-style: solid;
}
aside ul li input[type=checkbox] {
  visibility: collapse;
}
aside ul li:hover {
  background-color: #4E8098;
  color: #000000;
}
aside ul li ul {
  border: none;
  background-color: #4E8098;
  visibility: collapse;
  height: 0;
}
aside ul li ul li ul {
  border: none;
  background-color: #A31621;
  visibility: collapse;
  height: 0;
}
aside ul li ul li {
  text-indent: 1em;
}
aside ul li ul li ul li {
  text-indent: 2em;
}
aside ul:first-child > li::before {
  content: "_";
  color: #A31621;
  background-color: #A31621;
}
aside input[type=checkbox]:checked ~ ul {
  visibility: visible;
  height: auto;
  border-width: 0.5em;
  border-color: #A31621;
  border-style: solid;
}
aside input[type=checkbox]:checked ul li input[type=checkbox]:checked ~ ul {
  visibility: visible;
  height: auto;
  border-width: 0.5em;
  border-color: #4E8098;
  border-style: solid;
}
aside ul li ul li:hover {
  background-color: #A31621;
}
aside ul li ul li:hover ul li:hover {
  background-color: #4E8098;
}

/*# sourceMappingURL=aside_style.css.map */
