body {
  box-sizing: border-box;
  font-family: "Segoi UI", monospace;
  font-size: 1em;
  color: #FCF7F8;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=body_style.css.map */
