@import "std_config";


body {
  box-sizing: border-box;
  font-family:$font-family-mm;
  font-size:$std-font-size-mm;
  color: $std-font-colour-mm;

  background-color: $std-light-mm;

  display:flex;
  flex-direction: column;

}


