@import "std_config";


.breadcrumps {

  a{

    font-size: 16px;
    color: black;

  }

  li {
    display: inline;
  }


  a::before {
    content: "/";
    color: black;
  }

  a:hover {
    color:$std-red-mm;
  }




}



