.breadcrumps a {
  font-size: 16px;
  color: black;
}
.breadcrumps li {
  display: inline;
}
.breadcrumps a::before {
  content: "/";
  color: black;
}
.breadcrumps a:hover {
  color: #A31621;
}

/*# sourceMappingURL=breadcrumps_style.css.map */
