@import "std_config";


.company-logo-mm {
  flex-grow: 10;
  flex-basis:5em;

  height:5em;
  width:5em;

  max-height: 5em;
  max-width: 5em;

  background-size: cover;
  overflow: hidden;

  img{
    width:5em;
    height: 5em;
  }

}

