@import "std_config";


footer {
  flex-basis: 20vh;
  background-color: $std-blue-mm;


  div:first-child {
    background-color: $std-blue-mm;
  }



  .footer-info-mm{
    background-color: $std-dark-light-mm;
    color:$std-black-mm;
    margin: 1em;
    display: flex;

    justify-content: space-between;


    div:last-of-type {
      abbr {
        color: $std-black-mm;
      }

      p {
        padding: 1em;
        text-indent: 2em;
      }

      a {
        color: $std-red-mm;
      }
    }

  }

}


