footer {
  flex-basis: 20vh;
  background-color: #4E8098;
}
footer div:first-child {
  background-color: #4E8098;
}
footer .footer-info-mm {
  background-color: #CED3DC;
  color: #000000;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}
footer .footer-info-mm div:last-of-type abbr {
  color: #000000;
}
footer .footer-info-mm div:last-of-type p {
  padding: 1em;
  text-indent: 2em;
}
footer .footer-info-mm div:last-of-type a {
  color: #A31621;
}

/*# sourceMappingURL=fotter_style.css.map */
