@import "std_config";

nav {
  flex-basis: 70%;
  flex-grow: 70;
  vertical-align: center;

  margin:auto;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
      background-color: $std-red-mm;
      flex-basis: 30%;
      height: $big-font-size-mm;
      text-align: center;

      ul {
        visibility: collapse;
      }

    }





    li:hover{
      background-color: $std-red-mm;
      border-width:1em;
      border-color: black;


      ul {
        visibility: visible;
        position:absolute;
        display: block;

        li:hover{
          background-color: $std-blue-mm;
        }

      }
    }




  }

}

