nav {
  flex-basis: 70%;
  flex-grow: 70;
  vertical-align: center;
  margin: auto;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li {
  background-color: #A31621;
  flex-basis: 30%;
  height: 2em;
  text-align: center;
}
nav ul li ul {
  visibility: collapse;
}
nav ul li:hover {
  background-color: #A31621;
  border-width: 1em;
  border-color: black;
}
nav ul li:hover ul {
  visibility: visible;
  position: absolute;
  display: block;
}
nav ul li:hover ul li:hover {
  background-color: #4E8098;
}

/*# sourceMappingURL=nav_style.css.map */
