table {
  border: solid 6px #4E8098;
}
table tr {
  border: solid 2px #4E8098;
}
table tr td {
  border: solid 1px #A31621;
  font-size: 1em;
  padding: 6px;
}
table td:hover {
  transition: 0.1s;
  border: solid 4px #A31621;
}

/*# sourceMappingURL=table_style.css.map */
