@import '_std_config.scss';

table {
  border: solid 6px $std-blue-mm;
  tr{
    border: solid 2px $std-blue-mm;
    td{
      border: solid 1px $std-red-mm;
      font-size: 1em;
      padding: 6px;
    }
  }

  td:hover {
    transition: 0.1s;
    border: solid 4px $std_red-mm;
  }
}