@import "std_config";


.personal-office-mm {
  flex-basis: 12em;
  flex-grow: 20;
  background-color: $std-red-mm;

  display:flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    margin-top: 3em;
    width:5em;
    height:2em;
    background-color: $std-blue-mm;
    color:$std-light-mm;
  }


  img {
    z-index:1000;
    width:8em;
    height: 8em;
    position: fixed;
    top:0.5vw;
    right:0;
    border-radius: 100px;
    border: 3px solid $std-dark-light-mm;
    box-shadow: 0 0 7px #666;

  }


}
