.personal-office-mm {
  flex-basis: 12em;
  flex-grow: 20;
  background-color: #A31621;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.personal-office-mm button {
  margin-top: 3em;
  width: 5em;
  height: 2em;
  background-color: #4E8098;
  color: #FCF7F8;
}
.personal-office-mm img {
  z-index: 1000;
  width: 8em;
  height: 8em;
  position: fixed;
  top: 0.5vw;
  right: 0;
  border-radius: 100px;
  border: 3px solid #CED3DC;
  box-shadow: 0 0 7px #666;
}

/*# sourceMappingURL=user_avatar_style.css.map */
