@import "../std_config";

.article-main-info-mm {
  z-index:0;
  position:relative;
  display:flex;
  margin:0;
  color:$std-light-mm;

  div:first-child{

    flex-basis: 60%;
    position: relative;

    h1{
      font-size: $very-big-font-size-mm;
      color:$std-black-mm;
      position: relative;
      left:20%;
    }

    hr{
      color: $std-dark-light-mm;
      width:60%;
      position: relative;
      left: 30%;
    }


    h2 {
      font-size: $sub-big-font-size-mm;
      color:$std-black-mm;
      position: relative;
      left:40%;
    }

  }

  div:last-child {
    flex-basis: 40%;

    div:first-child {
      font-size: $sub-big-font-size-mm;
      height: 70%;
      position:relative;
      right:10%;
      background-color: $std-red-mm;
    }

    div:last-child{
      height:30%;
      background-color: $std-blue-mm;
    }



  }

}
