.article-paragraph {
  margin: 0 0 4em 0;
}
.article-paragraph hr {
  width: 75%;
  height: 1px;
  color: #CED3DC;
  left: 10%;
}
.article-paragraph img {
  margin: auto;
  width: auto;
  height: auto;
  border: solid 2px #4E8098;
}
.article-paragraph img:hover {
  transition: 0.1s;
  border: solid 4px #A31621;
}
.article-paragraph ul, .article-paragraph ol {
  margin-left: 1em;
  text-decoration: none;
  list-style: none;
}
.article-paragraph ul li, .article-paragraph ol li {
  margin-left: 0.5em;
  text-decoration: none;
}
.article-paragraph ul li:before, .article-paragraph ol li:before {
  content: "Q";
  font-size: 1em;
  color: #A31621;
  background-color: #A31621;
  margin-right: 0.5em;
}
.article-paragraph ul ul li:before, .article-paragraph ul ol li:before, .article-paragraph ol ul li:before, .article-paragraph ol ol li:before {
  content: "Q";
  font-size: 1em;
  color: #4E8098;
  background-color: #4E8098;
  margin-right: 0.5em;
}

.article-paragraph:hover hr {
  transition-delay: 0.1s;
  transition-duration: 0.5s;
  width: 85%;
  color: #A31621;
}

/*# sourceMappingURL=article_paragraph.css.map */
