@import "../std_config";

.article-content-text-item-mm{

  text-indent: 1vw;
  margin:2vw 5vw 2vw 2vw;

  hr{
    width:70%;
    position: relative;
    color:$std-dark-light-mm;
    left:20%;
  }


}
