.article-content-text-item-mm {
  text-indent: 1vw;
  margin: 2vw 5vw 2vw 2vw;
}
.article-content-text-item-mm hr {
  width: 70%;
  position: relative;
  color: #CED3DC;
  left: 20%;
}

/*# sourceMappingURL=article_content_style.css.map */
