.article-main-info-mm {
  z-index: 0;
  position: relative;
  display: flex;
  margin: 0;
  color: #FCF7F8;
}
.article-main-info-mm div:first-child {
  flex-basis: 60%;
  position: relative;
}
.article-main-info-mm div:first-child h1 {
  font-size: 3em;
  color: #000000;
  position: relative;
  left: 20%;
}
.article-main-info-mm div:first-child hr {
  color: #CED3DC;
  width: 60%;
  position: relative;
  left: 30%;
}
.article-main-info-mm div:first-child h2 {
  font-size: 1.5em;
  color: #000000;
  position: relative;
  left: 40%;
}
.article-main-info-mm div:last-child {
  flex-basis: 40%;
}
.article-main-info-mm div:last-child div:first-child {
  font-size: 1.5em;
  height: 70%;
  position: relative;
  right: 10%;
  background-color: #A31621;
}
.article-main-info-mm div:last-child div:last-child {
  height: 30%;
  background-color: #4E8098;
}

/*# sourceMappingURL=article_info_style.css.map */
