@import "../std_config";

.article-paragraph {
  margin: 0 0 4em 0;
  hr{
    width: 75%;
    height: 1px;
    color: $std-dark-light-mm;
    left:10%;
  }

  img{
    margin:auto;
    width:auto;
    height:auto;
    border:solid 2px $std-blue-mm;
  }

  img:hover {
    transition: 0.1s;
    border:solid 4px $std-red-mm;
  }


  ul, ol{
    margin-left: 1em;
    text-decoration: none;
    list-style: none;
    li{
      margin-left: 0.5em;
      text-decoration: none;
    }
    li:before{
      content: "Q";
      font-size: 1em;
      color: $std-red-mm;
      background-color: $std-red-mm;
      margin-right:0.5em;
    }

    ul,ol{
      li:before{
        content: "Q";
        font-size: 1em;
        color: $std-blue-mm;
        background-color: $std-blue-mm;
        margin-right:0.5em;
      }
    }

  }




}

.article-paragraph:hover {

  hr{
    transition-delay: 0.1s;
    transition-duration: 0.5s;
    width: 85%;
    color: $std-red-mm;
  }
}
