.close-aside-panel-check-mm {
  position: relative;
  top: 0;
  left: 0;
  width: 5vw;
  height: 5vw;
  background-color: #CED3DC;
}
.close-aside-panel-check-mm div:first-of-type {
  position: relative;
  top: 2vw;
  left: 2vw;
  width: 3vw;
  height: 3vw;
  background-color: #A31621;
}
.close-aside-panel-check-mm div:first-of-type div {
  width: 4vw;
  height: 4vw;
  position: relative;
  top: 1vw;
  left: 1vw;
  background-color: #4E8098;
}

/*# sourceMappingURL=close_aside_panel_check_style.css.map */
