@import "../std_config";

.close-aside-panel-check-mm {
  position:relative;
  top:0;
  left:0;
  width:5vw;
  height:5vw;
  background-color: $std-dark-light-mm;
  div:first-of-type{
    position:relative;
    top:2vw;
    left:2vw;
    width:3vw;
    height:3vw;
    background-color: $std-red-mm;

    div{
      width:4vw;
      height:4vw;
      position: relative;
      top:1vw;
      left:1vw;
      background-color: $std-blue-mm;
    }

  }




}

